{{.Fall.Term}}
{{range .Fall.Courses}}
{{.Number}}-{{.Name}}-{{.Units}}
{{end}}

----------------------------------------------------------------

{{.Spring.Term}}
{{range .Spring.Courses}}
{{.Number}}-{{.Name}}-{{.Units}}
{{end}}